## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo

## OS generated
.DS_Store
Thumbs.db
desktop.ini

## NuGet Packages
*.nupkg
*.snupkg
packages/
!packages/build/
.nuget/

## Binaries & Logs
*.exe
*.old
*.log

## Environment & Secrets
appsettings.Development.json
*.secrets.json
.env
.env.*
