<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="D:\.nuget\packages" />
    <add key="httpCacheFolder" value="D:\.nuget\v3-cache" />
    <add key="tempFolder" value="D:\temp\nuget" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
